src/main/xsd/ipo/address.xsd

<schema targetNamespace="http://www.example.com/IPO"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ipo="http://www.example.com/IPO">

    <annotation>
        <documentation xml:lang="en">
            Addresses for International Purchase order schema
            Copyright 2000 Example.com. All rights reserved.
        </documentation>
    </annotation>

    <complexType name="Address">
        <sequence>
            <element name="name"   type="string"/>
            <element name="street" type="string"/>
            <element name="city"   type="string"/>
        </sequence>
    </complexType>

</schema>